*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.main-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #0A0D0A;
    color: #C6DE2C;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.container h1{
    color: #5AED92;
    text-transform: uppercase;
    text-shadow: 2px 2px #3043af;
    font-size: 40px;
}

form{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.form-main{
    display: flex;
    padding: 0 20%;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px auto;
}

.form-item{
    width: 90%;
    padding: 5px;
}

.form-item label{
    display: flex;
    padding-right: 3px;
}

.form-item input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
}

form h1{
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.form-main button{
    margin: 10px;
    padding: 4px;
    border-radius: 4px;
    background-color: #C6DE2C;
}

.form-main button:hover{
    cursor: pointer;
    background-color: #73870E;
}

.container-list{
    display: flex;
    list-style: none;
    padding: 10px;
    flex-wrap: wrap;
}

.topic{
    display: flex;
    align-items: center;
    padding: 8px;
    text-decoration: none;
    color: #C6DE2C;
}

.topic:hover{
    color: #73870E;
    padding-bottom: 2px;
}

.topic img{
    height: 20px;
    padding-right: 5px;
}